<?xml version="1.0" ?>
<robot name="disk2" xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="blue">
    <color rgba="0.2 0.2 0.8 1"/>
  </material>
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://tower_of_hanoi/disk2.stl" scale="0.1 0.1 0.1"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://tower_of_hanoi/disk2_col2.stl" scale="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <!-- CENTER OF MASS -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.01"/>
      <!--Thick-walled cylindrical tube with open ends inertia: I_x = I_y = 1/12*m(3*(r1^2+r2^2)+h^2), I_z = 0.5*m(r1^2+r2^2) -->
      <!-- r1 = 0.035, r2 = 0.08, h = 0.025 -->
      <inertia ixx="1.9583333333333336e-05" ixy="0" ixz="0" iyy="1.9583333333333336e-05" iyz="0" izz="3.8125000000000005e-05"/>
    </inertial>
  </link>
  <joint name="tip_joint" type="fixed">
    <!-- <origin rpy="0 0 0" xyz="0.09 0 0.06125"/> -->
    <origin rpy="0 0 0" xyz="0.1 0 0.06125"/>
    <parent link="base_link"/>
    <child link="tip"/>
  </joint>
  <link name="tip">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.02"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.02"/>
      </geometry>
    </collision>
    <!-- dummy inertial params -->
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1e-8"/>
      <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12"/>
    </inertial>
  </link>
</robot>
